@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    padding: 0px 240px;
    margin: 0 auto;
}
.btn{
    padding: 20px 25px;
    background: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
/* menubar start here */
.header_container{
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 130px;
    padding-bottom: 20px;
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    margin-bottom: 115px;
}
.logo{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.menubar ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.menubar ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}
/* menubar end here */

/* banner start here */
.banner_area{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner_title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: #727272
}
.banner_image img{
    width: 100%;
    height: auto;
}
/* banner end here */

/* quick list start here */
.quick_list_container{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 130px;
}
.imgaes_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 50%;
}
.quick_list_text_part{
    width: 50%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
}
.quick_list_title{
    font-size: 45px;
    font-weight: 700;
}
.imgaes_container img{
    width: 100%;
    height: auto;
}
/* quick list end here */

/* feature start here */
.feature_container{
    display: flex;
    gap: 50px;
    margin-bottom: 130px;
}
.feature_text_area{
    width: 50%;
}
.feature_image_area{
    width: 50%;
    position: relative;
}
.feature_up_text_part{
    margin-bottom: 50px;
}
.feature_title{
    border-left: 5px solid #FF900E;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 20px;
}
.feature_down_text_part{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature_down_text_box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
}
.description_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.btn-large{
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: -30px;
    left: -30px;
}
.btn_large_text{
    font-size: 65px;
    font-weight: 700;
}
.feature_image_area img{
    width: 100%;
    height: auto;
}
/* feature end here */

/* some fact start here */
.somefacts_container{
    margin-bottom: 100px;
}
.somefacts_item_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding: 0px 100px;
}
.somefact_title, .sponsor_title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 10px;;
}
.somefacts_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #FF900E;
    padding: 20px;
    border-radius: 5px;
    margin: 50px 0px;
}
.somefacts_item:hover{
    background: orange;
    color: white;
}
.item_number{
    font-size: 45px;
    font-weight: 600;
}
/* some fact end here */

/* sponsor start here */
.our_sponsor_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.brand_image_container{
    display: flex;
    gap: 100px;
    margin: 100px 0px;
}
.brand_image_container img{
    filter: grayscale();
}
/* sponsor end here */

/* map start  here */
.map_container{
    margin-bottom: 100px;
}
.map_title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 10px;;
}
.map_container img{
    width: 100%;
    height: auto;
}
/* map end here */

/* footer start here */
.footer_container{
    background: #FFF4E7;
    padding: 40px 0px;
    text-align: center;
}

/* footer end here */



/* Mobile Responsive Start Here */
/* Mobile Responsive Start Here */


@media only screen and (max-width:576px) {
    .logo{
        font-size: 10vw;
        text-align: center;
        margin-bottom: 10px;
    }
    .container{
        padding: 0px 50px;
        margin: 0 auto;
    } 
    .banner_title{
        font-size: 15vw;
        text-align: center;
    }
    
    .menubar{  
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }

    .menubar ul{
        flex-direction: column;
        text-align: center;
    }
    .menubar ul li a{
        font-size: 5vw;
    }

    .quick_list_container{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .imgaes_container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .quick_list_text_part{
        width: 100%;
        text-align: center;
        align-items: center;
        gap: 20px;

    }
    .quick_list_title{
        font-size: 15vw;
    }

    .feature_container{
        flex-direction: column;
        margin-bottom: 100px;
    }
    .feature_title{
        font-size: 14vw;
    }
    .feature_text_area{
        width: 100%;
    }
    .feature_image_area{
        width: 100%;
        position: relative;
    }
    .somefacts_container{
        text-align: center;
    }
    .somefacts_item_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px 0px;
        margin-bottom: 50px;
        justify-content: center;
    }
    .somefacts_item{
        gap: 10px;
        padding: 10px;
        margin: 10px 0px;
    }
    .brand_image_container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 50px 0px;
        justify-content: center;
    }
    .somefact_title, .sponsor_title, .map_title{
        font-size: 10vw;
        text-align: center;
    }
    .map_container{
        text-align: center;
        margin-bottom: 50px;
    }
    .footer_container{
        padding: 40px 10px;
    }
    .btn{
        font-size:4vw;
        padding: 4vw 6vw;
    }
    .btn_large_text{
        font-size: 8vw;
    }
    .btn-large{
        position: static;
    }
    .feature_image_area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }  
}



/* tab responsive */
/* tab responsive */

@media only screen and (min-width:577px) and (max-width:768px) {

    
    .container{
        padding: 0px 50px;
        margin: 0 auto;
    } 
    .feature_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    .somefacts_container{
        text-align: center;
    }
    .somefacts_item_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px 0px;
        margin-bottom: 50px;
        justify-content: center;
    }
    .footer_container{
        padding: 30px 10px;
    }
    .brand_image_container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 50px 0px;
        justify-content: center;
    }
}

